.buttonStyle {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  color: hsl(227, 13%, 14%);
  font-weight: 400;
  border: none;
  font-size: 14px;
}
.buttonStyle:hover {
  background-color: var(--secondary-color);
}
